<div class="row">
    <div class="col-sm-12">
        {%if success%}
        <div class="alert alert-success alert-dismissable" style="margin-top: 20px !important;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{success}}
        </div>
        {%endif%}
        {%if error%}
        <div class="alert alert-danger alert-dismissable" style="margin-top: 20px !important;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> {{error}}
        </div>
        {%endif%}
    </div>
    <!-- /.col-lg-12 -->
</div>